<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">   
<head>  
    <meta charset="UTF-8"/>  
    <title>home page</title>  
    <link rel="stylesheet" type="text/css" href="../static/easyui/themes/default/easyui.css" th:href="@{easyui/themes/default/easyui.css}"/>  
    <link rel="stylesheet" type="text/css" href="../static/easyui/themes/icon.css" th:href="@{easyui/themes/icon.css}"/>  
    <link rel="stylesheet" type="text/css" href="../static/easyui/themes/color.css" th:href="@{easyui/themes/color.css}"/>  
    <script type="text/javascript" src="../static/jquery/jquery.min.js" th:src="@{jquery/jquery.min.js}"></script>  
    <script type="text/javascript" src="../static/easyui/jquery.easyui.min.js" th:src="@{easyui/jquery.easyui.min.js}"></script>  
</head>  
<body >
			<div class="easyui-panel" title="计算" style="width:900px;padding:10px;">
				<div style="margin:10px 0;">
					<a href="javascript:void(0)" class="easyui-linkbutton" onclick="loadLocal()">初始化</a>
<!-- 					<a href="javascript:void(0)" class="easyui-linkbutton" onclick="loadRemote()">LoadRemote</a> -->
					<a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">重置</a>
					<a href="javascript:void(0)" class="easyui-linkbutton" onclick="saveTemp()">保存数据</a>
				</div>
	         <form id="rule" method="post" enctype="multipart/form-data">
	            <table>
	            	<tr>
	                    <td>稽核年月:</td>
	                    <td><input id="month" name="month" style="width:80px"></input></td>
	                </tr>
	                <tr>
	                    <td>渠道号:</td>
	                    <td><input id="channel" name="channel" value ="0140000" style="width:80px"></input></td>
	                </tr>
	            	<tr>
	                    <td>无账号比例:</td>
	                    <td><input id="m1" name="noLogin" style="width:80px"></input></td>
	                </tr>
	                <tr>
	                    <td>七日留存率:</td>
	                    <td><input id="m2" name="activelyDays7" style="width:80px"></input></td>
	                </tr>
	                <tr>
	                    <td>异常时间访问率:</td>
	                    <td><input id="m3" name="abTime" style="width:80px"></input></td>
	                </tr>
	             </table>
	                <hr />
	             <table>
	                <tr>
	                    <td>有账户,七日留存=是,异常时段=否:</td>
	                    <td><input id="m4" name="t111" style="width:80px"></input></td>
	                </tr>
	                <tr>
	                    <td>有账户,七日留存=是,异常时段=是:</td>
	                    <td><input id="m5" name="t110" style="width:80px"></input></td>
	                </tr>
	                <tr>
	                    <td>有账户,七日留存=否,异常时段=否:</td>
	                    <td><input id="m6" name="t101" style="width:80px"></input></td>
	                </tr>
	                <tr>
	                    <td>有账户,七日留存=否,异常时段=是:</td>
	                    <td><input id="m7" name="t100" style="width:80px"></input></td>
	                </tr>
	             </table>
	             <hr />
	             <table>
	                <tr>
	                    <td>无账户,七日留存=是,异常时段=否:</td>
	                    <td><input id="m8" name="t011" style="width:80px"></input></td>
	                </tr>
	                <tr>
	                    <td>无账户,七日留存=是,异常时段=是:</td>
	                    <td><input id="m9" name="t010" style="width:80px"></input></td>
	                </tr>
	                <tr>
	                    <td>无账户,七日留存=否,异常时段=否:</td>
	                    <td><input id="m10" name="t001" style="width:80px"></input></td>
	                </tr>
	                 <tr>
	                    <td>无账户,七日留存=否,异常时段=是:</td>
	                    <td><input id="m11" name="t000" style="width:80px"></input></td>
	                </tr>
	                <tr>
	                    <td></td>
	                    <td><a href="javascript:void(0)" class="easyui-linkbutton" onclick="test1()" style="width:80px" title="是否登录>是否第七天留存>是否异常时间段">无账号比例</a>
	                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="test2()" style="width:80px" title="是否第七天留存>是否异常时间段>是否登录">七日留存率</a>
	                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="test3()" style="width:100px" title="是否异常时间段>是否登录>是否第七天留存">异常时间访问率</a>
                		<a href="javascript:void(0)" class="easyui-linkbutton" onclick="test4()" style="width:80px" title="汇总">汇总</a>
                		<a href="javascript:void(0)" class="easyui-linkbutton" onclick="test5()" style="width:80px" title="覆盖">覆盖</a></td>
                	</tr>
	            </table><hr />
	            <table>
	                <tr>
	                    <td>总数:</td>
	                    <td><input id="allSum" name="allSum" style="width:80px"></input></td>
	                </tr>
	                <tr>
	                    <td>剩余有效数:</td>
	                    <td><input id="validSum" name="validSum" style="width:80px"></input></td>
	                </tr>
	                <tr>
	                    <td>有账户被稽核比例:</td>
	                    <td><input id="isLoginPer" name="isLoginPer" style="width:80px;" /></td>
	                    <td>七日留存被稽核比例:</td>
	                    <td><input id="dayPer" name="dayPer" style="width:80px"/></td>
	                    <td>正常时间段被稽核比例:</td>
	                    <td><input id="timePer" name="timePer" style="width:80px"/></td>
	                </tr>
	                <tr>
	                    <td>无账户被稽核比例:</td>
	                    <td><input id="noLoginPer" name="noLoginPer" style="width:80px"/></td>
	                    <td>非七日留存被稽核比例:</td>
	                    <td><input id="noDayPer" name="noDayPer" style="width:80px"/></td>
	                    <td>异常时间段被稽核比例:</td>
	                    <td><input id="abTimePer" name="abTimePer" style="width:80px"/></td>
	                </tr>
	            </table>
	            <hr />
	            <table>
	                <tr>
	                    <td>目标有效数:</td>
	                    <td><input id="targetValidSum" name="targetValidSum" style="width:80px"></input></td>
	                    <td>
                			<a href="javascript:void(0)" class="easyui-linkbutton" onclick="infer()" style="width:80px" title="预估总数">预估总数</a>
                		</td>
                	</tr>
                	<tr>
	                    <td>将要执行总数:</td>
	                    <td><input id="sum" name="sum" style="width:80px"></input></td>
	                    <td>
                			<a href="javascript:void(0)" class="easyui-linkbutton" onclick="distribute()" style="width:100px" title="开始分配任务">开始分配任务</a>
                		</td>
                	</tr>
	            </table>
	        </form>
    	</div>

  <script type="text/javascript">
    var date=new Date;
	var year=date.getFullYear(); 
	var month=date.getMonth()+1;
	$("#month").val(year+"-"+month);
	
  	function infer(){
  		$("input~input~input~input~input~input~input").remove();
  		var y4 = 1-toPoint($("#y4").val()).toFixed(4);
  		var y5 = 1-toPoint($("#y5").val()).toFixed(4);
  		var y6 = 1-toPoint($("#y6").val()).toFixed(4);
  		var y7 = 1-toPoint($("#y7").val()).toFixed(4);
  		var y8 = 1-toPoint($("#y8").val()).toFixed(4);
  		var y9 = 1-toPoint($("#y9").val()).toFixed(4);
  		var y10 = 1-toPoint($("#y10").val()).toFixed(4);
  		var y11 = 1-toPoint($("#y11").val()).toFixed(4);
  		
  		var p4 = toPoint($("#p4").val()).toFixed(4);
  		var p5 = toPoint($("#p5").val()).toFixed(4);
  		var p6 = toPoint($("#p6").val()).toFixed(4);
  		var p7 = toPoint($("#p7").val()).toFixed(4);
  		var p8 = toPoint($("#p8").val()).toFixed(4);
  		var p9 = toPoint($("#p9").val()).toFixed(4);
  		var p10 = toPoint($("#p10").val()).toFixed(4);
  		var p11 = toPoint($("#p11").val()).toFixed(4);
  		
  		var targetValidSum = $("#targetValidSum").val();
  		var allSum = (targetValidSum/(y4*p4+y5*p5+y6*p6+y7*p7+y8*p8+y9*p9+y10*p10+y11*p11)).toFixed(0);
  		$("#sum").val(allSum);
  		
  		var s4 = (allSum*p4).toFixed(0);
  		var s5 = (allSum*p5).toFixed(0);
  		var s6 = (allSum*p6).toFixed(0);
  		var s7 = (allSum*p7).toFixed(0);
  		var s8 = (allSum*p8).toFixed(0);
  		var s9 = (allSum*p9).toFixed(0);
  		var s10 = (allSum*p10).toFixed(0);
  		var s11 = (allSum*p11).toFixed(0);
  		
  		$("#p4").after('<input id="s4" name="s4" style="width:80px" value="'+s4+'" />');
		$("#p5").after('<input id="s5" name="s5" style="width:80px" value="'+s5+'" />');
		$("#p6").after('<input id="s6" name="s6" style="width:80px" value="'+s6+'" />');
		$("#p7").after('<input id="s7" name="s7" style="width:80px" value="'+s7+'" />');
		$("#p8").after('<input id="s8" name="s8" style="width:80px" value="'+s8+'" />');
		$("#p9").after('<input id="s9" name="s9" style="width:80px" value="'+s9+'" />');
		$("#p10").after('<input id="s10" name="s10" style="width:80px" value="'+s10+'" />');
		$("#p11").after('<input id="s11" name="s11" style="width:80px" value="'+s11+'" />');
  		
  	}
  	
  	function toPoint(percent){
  	    var str=percent.replace("%","");
  	    str= str/100;
  	    return str;
  	}
  	
  	function test5(){
  		$("#m4").val($("#s4").val());
  		$("#m5").val($("#s5").val());
  		$("#m6").val($("#s6").val());
  		$("#m7").val($("#s7").val());
  		$("#m8").val($("#s8").val());
  		$("#m9").val($("#s9").val());
  		$("#m10").val($("#s10").val());
  		$("#m11").val($("#s11").val());
  	}
  
	function test4(){
		test1();
		test2();
		test3();
		var m4 = Number($("#m4").val());
		var m5 = Number($("#m5").val());
		var m6 = Number($("#m6").val());
		var m7 = Number($("#m7").val());
		var m8 = Number($("#m8").val());
		var m9 = Number($("#m9").val());
		var m10 = Number($("#m10").val());
		var m11 = Number($("#m11").val());
		
		var w4 = Number($("#w4").val());
		var w5 = Number($("#w5").val());
		var w6 = Number($("#w6").val());
		var w7 = Number($("#w7").val());
		var w8 = Number($("#w8").val());
		var w9 = Number($("#w9").val());
		var w10 = Number($("#w10").val());
		var w11 = Number($("#w11").val());
		
		var sum = m4+m5+m6+m7+m8+m9+m10+m11;
		var validSum = w4+w5+w6+w7+w8+w9+w10+w11;
		
// 		var rejectPer = ((sum-validSum)/sum*100).toFixed(2)+"%";
		var isLoginPer =((1-(w4+w5+w6+w7)/(m4+m5+m6+m7))*100).toFixed(2)+"%";
		var dayPer =((1-(w4+w5+w8+w9)/(m4+m5+m8+m9))*100).toFixed(2)+"%";
		var timePer =((1-(w4+w6+w8+w10)/(m4+m6+m8+m10))*100).toFixed(2)+"%";
		var noLoginPer =((1-(w8+w9+w10+w11)/(m8+m9+m10+m11))*100).toFixed(2)+"%";
		var noDayPer =((1-(w6+w7+w10+w11)/(m6+m7+m10+m11))*100).toFixed(2)+"%";
		var abTimePer =((1-(w5+w7+w9+w11)/(m5+m7+m9+m11))*100).toFixed(2)+"%";
		
		
		
		$("#allSum").val(sum);
		$("#validSum").val(validSum);
// 		$("#rejectPer").val(rejectPer);
		
		$("#isLoginPer").val(isLoginPer);
		$("#dayPer").val(dayPer);
		$("#timePer").val(timePer);
		$("#noLoginPer").val(noLoginPer);
		$("#noDayPer").val(noDayPer);
		$("#abTimePer").val(abTimePer);
		
		$("input~input~input~input~input").remove();
		
		var y4 = ((1-w4/m4)*100).toFixed(2)+"%";
		var y5 = ((1-w5/m5)*100).toFixed(2)+"%";
		var y6 = ((1-w6/m6)*100).toFixed(2)+"%";
		var y7 = ((1-w7/m7)*100).toFixed(2)+"%";
		var y8 = ((1-w8/m8)*100).toFixed(2)+"%";
		var y9 = ((1-w9/m9)*100).toFixed(2)+"%";
		var y10 = ((1-w10/m10)*100).toFixed(2)+"%";
		var y11 = ((1-w11/m11)*100).toFixed(2)+"%";
		
		$("#w4").after('<input id="y4" name="r111" style="width:80px" value="'+y4+'" />');
		$("#w5").after('<input id="y5" name="r110" style="width:80px" value="'+y5+'" />');
		$("#w6").after('<input id="y6" name="r101" style="width:80px" value="'+y6+'" />');
		$("#w7").after('<input id="y7" name="r100" style="width:80px" value="'+y7+'" />');
		$("#w8").after('<input id="y8" name="r011" style="width:80px" value="'+y8+'" />');
		$("#w9").after('<input id="y9" name="r010" style="width:80px" value="'+y9+'" />');
		$("#w10").after('<input id="y10" name="r001" style="width:80px" value="'+y10+'" />');
		$("#w11").after('<input id="y11" name="r000" style="width:80px" value="'+y11+'" />');
		
		
		
		$("input~input~input~input~input~input").remove();
		var allSum = m4+m5+m6+m7+m8+m9+m10+m11;
		
		var p4 = (m4/allSum*100).toFixed(2)+"%";
		var p5 = (m5/allSum*100).toFixed(2)+"%";
		var p6 = (m6/allSum*100).toFixed(2)+"%";
		var p7 = (m7/allSum*100).toFixed(2)+"%";
		var p8 = (m8/allSum*100).toFixed(2)+"%";
		var p9 = (m9/allSum*100).toFixed(2)+"%";
		var p10 = (m10/allSum*100).toFixed(2)+"%";
		var p11 = (m11/allSum*100).toFixed(2)+"%";
		
		$("#y4").after('<input id="p4" name="s111" style="width:80px" value="'+p4+'" />');
		$("#y5").after('<input id="p5" name="s110" style="width:80px" value="'+p5+'" />');
		$("#y6").after('<input id="p6" name="s101" style="width:80px" value="'+p6+'" />');
		$("#y7").after('<input id="p7" name="s100" style="width:80px" value="'+p7+'" />');
		$("#y8").after('<input id="p8" name="s011" style="width:80px" value="'+p8+'" />');
		$("#y9").after('<input id="p9" name="s010" style="width:80px" value="'+p9+'" />');
		$("#y10").after('<input id="p10" name="s001" style="width:80px" value="'+p10+'" />');
		$("#y11").after('<input id="p11" name="s000" style="width:80px" value="'+p11+'" />');
		
		
		  
	  }

	function test3(){
		$("input~input~input~input").remove();
		var m1 = Number($("#m1").val());
		var m2 = Number($("#m2").val());
		var m3 = Number($("#m3").val());
		
		var t4 = Number($("#t4").val());
		var t5 = Number($("#t5").val());
		var t6 = Number($("#t6").val());
		var t7 = Number($("#t7").val());
		var t8 = Number($("#t8").val());
		var t9 = Number($("#t9").val());
		var t10 = Number($("#t10").val());
		var t11 = Number($("#t11").val());
		
		var abTimeTotal = t5+t7+t9+t11;
		var isTimeTotal = t4+t6+t8+t10;
		var total = abTimeTotal+isTimeTotal;
		if((abTimeTotal/total)>m3){
			var needReject = Math.ceil(abTimeTotal-(total*m3));
			var needRejectAgain = needReject-t11;
			if(needRejectAgain>=0){
				$("#t11").after('<input id="w11" name="w11" style="width:80px;color: red" value="0" />');
				var needRejectAgain2 = needRejectAgain-t9;
				if(needRejectAgain2>=0){
					$("#t9").after('<input id="w9" name="w9" style="width:80px;color: red" value="0" />');
					var needRejectAgain3 = needRejectAgain2-t7;
					if(needRejectAgain3>=0){
						$("#t7").after('<input id="w7" name="w7" style="width:80px;color: red" value="0" />');
						var needRejectAgain4 = needRejectAgain3-t5;
						if(needRejectAgain4>=0){
							$("#t5").after('<input id="w5" name="w5" style="width:80px;color: red" value="0" />');
							$("#t4").after('<input id="w4" name="w4" style="width:80px" value="'+t4+'" />');
							$("#t6").after('<input id="w6" name="w6" style="width:80px" value="'+t6+'" />');
							$("#t8").after('<input id="w8" name="w8" style="width:80px" value="'+t8+'" />');
							$("#t10").after('<input id="w10" name="w10" style="width:80px" value="'+t10+'" />');
						}else{
							var value = t5-needRejectAgain3;
							$("#t5").after('<input id="w5" name="w5" style="width:80px;color: red" value="'+value+'" />');
							$("#t4").after('<input id="w4" name="w4" style="width:80px" value="'+t4+'" />');
							$("#t6").after('<input id="w6" name="w6" style="width:80px" value="'+t6+'" />');
							$("#t8").after('<input id="w8" name="w8" style="width:80px" value="'+t8+'" />');
							$("#t10").after('<input id="w10" name="w10" style="width:80px" value="'+t10+'" />');
						}
					}else{
						var value = t7-needRejectAgain2;
						$("#t7").after('<input id="w7" name="w7" style="width:80px;color: red" value="'+value+'" />');
						$("#t4").after('<input id="w4" name="w4" style="width:80px" value="'+t4+'" />');
						$("#t5").after('<input id="w5" name="w5" style="width:80px" value="'+t5+'" />');
						$("#t6").after('<input id="w6" name="w6" style="width:80px" value="'+t6+'" />');
						$("#t8").after('<input id="w8" name="w8" style="width:80px" value="'+t8+'" />');
						$("#t10").after('<input id="w10" name="w10" style="width:80px" value="'+t10+'" />');
					}
				}else{
					var value = t9-needRejectAgain;
					$("#t9").after('<input id="w9" name="w9" style="width:80px;color: red" value="'+value+'" />');
					$("#t4").after('<input id="w4" name="w4" style="width:80px" value="'+t4+'" />');
					$("#t5").after('<input id="w5" name="w5" style="width:80px" value="'+t5+'" />');
					$("#t6").after('<input id="w6" name="w6" style="width:80px" value="'+t6+'" />');
					$("#t7").after('<input id="w7" name="w7" style="width:80px" value="'+t7+'" />');
					$("#t8").after('<input id="w8" name="w8" style="width:80px" value="'+t8+'" />');
					$("#t10").after('<input id="w10" name="w10" style="width:80px" value="'+t10+'" />');
				}
			}else{
				var value = t11-needReject;
				$("#t11").after('<input id="w11" name="w11" style="width:80px;color: red" value="'+value+'" />');
				$("#t4").after('<input id="w4" name="w4" style="width:80px" value="'+t4+'" />');
				$("#t5").after('<input id="w5" name="w5" style="width:80px" value="'+t5+'" />');
				$("#t6").after('<input id="w6" name="w6" style="width:80px" value="'+t6+'" />');
				$("#t7").after('<input id="w7" name="w7" style="width:80px" value="'+t7+'" />');
				$("#t8").after('<input id="w8" name="w8" style="width:80px" value="'+t8+'" />');
				$("#t9").after('<input id="w9" name="w9" style="width:80px" value="'+t9+'" />');
				$("#t10").after('<input id="w10" name="w10" style="width:80px" value="'+t10+'" />');
			}
		}else{
			alert("无需剔除异常时间段数据");
			$("#t4").after('<input id="w4" name="w4" style="width:80px" value="'+t4+'" />');
			$("#t5").after('<input id="w5" name="w5" style="width:80px" value="'+t5+'" />');
			$("#t6").after('<input id="w6" name="w6" style="width:80px" value="'+t6+'" />');
			$("#t7").after('<input id="w7" name="w7" style="width:80px" value="'+t7+'" />');
			$("#t8").after('<input id="w8" name="w8" style="width:80px" value="'+t8+'" />');
			$("#t9").after('<input id="w9" name="w9" style="width:80px" value="'+t9+'" />');
			$("#t10").after('<input id="w10" name="w10" style="width:80px" value="'+t10+'" />');
			$("#t11").after('<input id="w11" name="w11" style="width:80px" value="'+t11+'" />');
		}
	}
  
  	function test2(){
  		$("input~input~input").remove();
		var m1 = Number($("#m1").val());
		var m2 = Number($("#m2").val());
		var m3 = Number($("#m3").val());
		
		var n4 = Number($("#n4").val());
		var n5 = Number($("#n5").val());
		var n6 = Number($("#n6").val());
		var n7 = Number($("#n7").val());
		var n8 = Number($("#n8").val());
		var n9 = Number($("#n9").val());
		var n10 = Number($("#n10").val());
		var n11 = Number($("#n11").val());
		
		var isDayTotal = n4+n5+n8+n9;
		var noDayTotal = n6+n7+n10+n11;
		var total = isDayTotal+noDayTotal;
		if(m2>(isDayTotal/total)){
			var needReject = Math.ceil((noDayTotal-(total*(1-m2)))/m2);
			var needRejectAgain = needReject-n11;
			if(needRejectAgain>=0){
				$("#n11").after('<input id="t11" name="t11" style="width:80px;color: red" value="0" />');
				var needRejectAgain2 = needRejectAgain-n7;
				if(needRejectAgain2>=0){
					$("#n7").after('<input id="t7" name="t7" style="width:80px;color: red" value="0" />');
					var needRejectAgain3 = needRejectAgain2-n10;
					if(needRejectAgain3>=0){
						$("#n10").after('<input id="t10" name="t10" style="width:80px;color: red" value="0" />');
						var needRejectAgain4 = needRejectAgain3-n6;
						if(needRejectAgain4>=0){
							$("#n6").after('<input id="t6" name="t6" style="width:80px;color: red" value="0" />');
							$("#n4").after('<input id="t4" name="t4" style="width:80px" value="'+n4+'" />');
							$("#n5").after('<input id="t5" name="t5" style="width:80px" value="'+n5+'" />');
							$("#n8").after('<input id="t8" name="t8" style="width:80px" value="'+n8+'" />');
							$("#n9").after('<input id="t9" name="t9" style="width:80px" value="'+n9+'" />');
						}else{
							var value = n6-needRejectAgain3;
							$("#n6").after('<input id="t6" name="t6" style="width:80px;color: red" value="'+value+'" />');
							$("#n4").after('<input id="t4" name="t4" style="width:80px" value="'+n4+'" />');
							$("#n5").after('<input id="t5" name="t5" style="width:80px" value="'+n5+'" />');
							$("#n8").after('<input id="t8" name="t8" style="width:80px" value="'+n8+'" />');
							$("#n9").after('<input id="t9" name="t9" style="width:80px" value="'+n9+'" />');
						}
					}else{
						var value = n10-needRejectAgain2;
						$("#n10").after('<input id="t10" name="t10" style="width:80px;color: red" value="'+value+'" />');
						$("#n4").after('<input id="t4" name="t4" style="width:80px" value="'+n4+'" />');
						$("#n5").after('<input id="t5" name="t5" style="width:80px" value="'+n5+'" />');
						$("#n6").after('<input id="t6" name="t6" style="width:80px" value="'+n6+'" />');
						$("#n8").after('<input id="t8" name="t8" style="width:80px" value="'+n8+'" />');
						$("#n9").after('<input id="t9" name="t9" style="width:80px" value="'+n9+'" />');
					}
				}else{
					var value = n7-needRejectAgain;
					$("#n7").after('<input id="t7" name="t7" style="width:80px;color: red" value="'+value+'" />');
					$("#n4").after('<input id="t4" name="t4" style="width:80px" value="'+n4+'" />');
					$("#n5").after('<input id="t5" name="t5" style="width:80px" value="'+n5+'" />');
					$("#n6").after('<input id="t6" name="t6" style="width:80px" value="'+n6+'" />');
					$("#n8").after('<input id="t8" name="t8" style="width:80px" value="'+n8+'" />');
					$("#n9").after('<input id="t9" name="t9" style="width:80px" value="'+n9+'" />');
					$("#n10").after('<input id="t10" name="t10" style="width:80px" value="'+n10+'" />');
				}
			}else{
				var value = n11-needReject;
				$("#n11").after('<input id="t11" name="t11" style="width:80px;color: red" value="'+value+'" />');
				$("#n4").after('<input id="t4" name="t4" style="width:80px" value="'+n4+'" />');
				$("#n5").after('<input id="t5" name="t5" style="width:80px" value="'+n5+'" />');
				$("#n6").after('<input id="t6" name="t6" style="width:80px" value="'+n6+'" />');
				$("#n7").after('<input id="t7" name="t7" style="width:80px" value="'+n7+'" />');
				$("#n8").after('<input id="t8" name="t8" style="width:80px" value="'+n8+'" />');
				$("#n9").after('<input id="t9" name="t9" style="width:80px" value="'+n9+'" />');
				$("#n10").after('<input id="t10" name="t10" style="width:80px" value="'+n10+'" />');
			}
		}else{
			alert("无需剔除七日非留存数据");
			$("#n4").after('<input id="t4" name="t4" style="width:80px" value="'+n4+'" />');
			$("#n5").after('<input id="t5" name="t5" style="width:80px" value="'+n5+'" />');
			$("#n6").after('<input id="t6" name="t6" style="width:80px" value="'+n6+'" />');
			$("#n7").after('<input id="t7" name="t7" style="width:80px" value="'+n7+'" />');
			$("#n8").after('<input id="t8" name="t8" style="width:80px" value="'+n8+'" />');
			$("#n9").after('<input id="t9" name="t9" style="width:80px" value="'+n9+'" />');
			$("#n10").after('<input id="t10" name="t10" style="width:80px" value="'+n10+'" />');
			$("#n11").after('<input id="t11" name="t11" style="width:80px" value="'+n11+'" />');
		}
  	}
  
  
  
  	function test1(){
  		$("input~input").remove();
		var m1 = Number($("#m1").val());
		var m2 = Number($("#m2").val());
		var m3 = Number($("#m3").val());
		
		var m4 = Number($("#m4").val());
		var m5 = Number($("#m5").val());
		var m6 = Number($("#m6").val());
		var m7 = Number($("#m7").val());
		var m8 = Number($("#m8").val());
		var m9 = Number($("#m9").val());
		var m10 = Number($("#m10").val());
		var m11 = Number($("#m11").val());
		
		var noUserTotal = m8+m9+m10+m11;
		var hasUserTotal = m4+m5+m6+m7;
		var total = noUserTotal+hasUserTotal;
		if((noUserTotal/total)>m1){
			var needReject = Math.ceil(noUserTotal-(total*m1));
			var needRejectAgain = needReject-m11;
			if(needRejectAgain>=0){
				$("#m11").after('<input id="n11" name="n11" style="width:80px;color: red" value="0" />');
				var needRejectAgain2 = needRejectAgain-m10;
				if(needRejectAgain2>=0){
					$("#m10").after('<input id="n10" name="n10" style="width:80px;color: red" value="0" />');
					var needRejectAgain3 = needRejectAgain2-m9;
					if(needRejectAgain3>=0){
						$("#m9").after('<input id="n9" name="n9" style="width:80px;color: red" value="0" />');
						var needRejectAgain4 = needRejectAgain3-m8;
						if(needRejectAgain4>=0){
							$("#m8").after('<input id="n8" name="n8" style="width:80px;color: red" value="0" />');
							$("#m4").after('<input id="n4" name="n4" style="width:80px" value="'+m4+'" />');
							$("#m5").after('<input id="n5" name="n5" style="width:80px" value="'+m5+'" />');
							$("#m6").after('<input id="n6" name="n6" style="width:80px" value="'+m6+'" />');
							$("#m7").after('<input id="n7" name="n7" style="width:80px" value="'+m7+'" />');
						}else{
							var value = m8-needRejectAgain3;
							$("#m8").after('<input id="n8" name="n8" style="width:80px;color: red" value="'+value+'" />');
							$("#m4").after('<input id="n4" name="n4" style="width:80px" value="'+m4+'" />');
							$("#m5").after('<input id="n5" name="n5" style="width:80px" value="'+m5+'" />');
							$("#m6").after('<input id="n6" name="n6" style="width:80px" value="'+m6+'" />');
							$("#m7").after('<input id="n7" name="n7" style="width:80px" value="'+m7+'" />');
						}
					}else{
						var value = m9-needRejectAgain2;
						$("#m9").after('<input id="n9" name="n9" style="width:80px;color: red" value="'+value+'" />');
						$("#m4").after('<input id="n4" name="n4" style="width:80px" value="'+m4+'" />');
						$("#m5").after('<input id="n5" name="n5" style="width:80px" value="'+m5+'" />');
						$("#m6").after('<input id="n6" name="n6" style="width:80px" value="'+m6+'" />');
						$("#m7").after('<input id="n7" name="n7" style="width:80px" value="'+m7+'" />');
						$("#m8").after('<input id="n8" name="n8" style="width:80px" value="'+m8+'" />');
					}
				}else{
					var value = m10-needRejectAgain;
					$("#m10").after('<input id="n10" name="n10" style="width:80px;color: red" value="'+value+'" />');
					$("#m4").after('<input id="n4" name="n4" style="width:80px" value="'+m4+'" />');
					$("#m5").after('<input id="n5" name="n5" style="width:80px" value="'+m5+'" />');
					$("#m6").after('<input id="n6" name="n6" style="width:80px" value="'+m6+'" />');
					$("#m7").after('<input id="n7" name="n7" style="width:80px" value="'+m7+'" />');
					$("#m8").after('<input id="n8" name="n8" style="width:80px" value="'+m8+'" />');
					$("#m9").after('<input id="n9" name="n9" style="width:80px" value="'+m9+'" />');
				}
			}else{
				var value = m11-needReject;
				$("#m11").after('<input id="n11" name="n11" style="width:80px;color: red" value="'+value+'" />');
				$("#m4").after('<input id="n4" name="n4" style="width:80px" value="'+m4+'" />');
				$("#m5").after('<input id="n5" name="n5" style="width:80px" value="'+m5+'" />');
				$("#m6").after('<input id="n6" name="n6" style="width:80px" value="'+m6+'" />');
				$("#m7").after('<input id="n7" name="n7" style="width:80px" value="'+m7+'" />');
				$("#m8").after('<input id="n8" name="n8" style="width:80px" value="'+m8+'" />');
				$("#m9").after('<input id="n9" name="n9" style="width:80px" value="'+m9+'" />');
				$("#m10").after('<input id="n10" name="n10" style="width:80px" value="'+m10+'" />');
			}
			
		}else{
			alert("无需剔除无账号数据");
			$("#m4").after('<input id="n4" name="n4" style="width:80px" value="'+m4+'" />');
			$("#m5").after('<input id="n5" name="n5" style="width:80px" value="'+m5+'" />');
			$("#m6").after('<input id="n6" name="n6" style="width:80px" value="'+m6+'" />');
			$("#m7").after('<input id="n7" name="n7" style="width:80px" value="'+m7+'" />');
			$("#m8").after('<input id="n8" name="n8" style="width:80px" value="'+m8+'" />');
			$("#m9").after('<input id="n9" name="n9" style="width:80px" value="'+m9+'" />');
			$("#m10").after('<input id="n10" name="n10" style="width:80px" value="'+m10+'" />');
			$("#m11").after('<input id="n11" name="n11" style="width:80px" value="'+m11+'" />');
			
		}
	}
  	
  	
  	
	function loadLocal(){
		var month = $("#month").val();
		var channel = $("#channel").val();
		var path = "/loadTemp/"+month+"/"+channel;
		$('#rule').form('load',path);
	}
	
	function clearForm(){
		$('#rule').form('clear');
		$("input~input~input~input").remove();
		$("input~input~input").remove();
		$("input~input").remove();
	}
	
	function saveTemp(){
		$('#rule').form('submit', {
			url:"/saveTemp",
			success:function(data){
				if("\"success\""==data){
					alert("操作成功");
				}else{
					alert(data);
				}
		    }
		});
	}
	
	
	function distribute(){
		test5();
		$('#rule').form('submit', {
			url:"/distributeTask",
			success:function(data){
				if("\"success\""==data){
					alert("操作成功");
				}else{
					alert(data);
				}
		    }
		});
	}
	
	</script>
</body> 
</html> 
